{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'resources/startscreen.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fa6/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fa6/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'resources/fa6/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'resources/tender.css' %}">

    <style>
         @media (max-width: 768px) {
            .diagonal-box {
                padding: 20px;
                text-align: center;
            }

            .button {
                margin: 10px 10p;
                width: 100%;
            }
        }
    </style>
</head>

<body onload="getLocation()">
    <div class="diagonal-box">
        <form action="{% url 'loadLocation' %}" method="POST" enctype="multipart/form-data" class="container form-inline" id="myForm" onsubmit="return checkForm();" >
            {% csrf_token %}
            <input type="text" name="lat" id="lat"  hidden required>
            <input type="text" name="long" id="long"  hidden required>
        </form>

        <div class="content">
            <p class="title button__text">
                Welcome To Customer Section.
            </p>
            <a href="{% url 'tender' %}" style="text-decoration:none;">
                <button class="button login__submit">
                    <span class="button__text">Add Tender</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </a>
            <a href="{% url 'viewTenders' %}" style="text-decoration:none;">
                <button class="button login__submit">
                    <span class="button__text">View Previous Tenders</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </a>

            <a href="{% url 'logoutUser' %}" style="text-decoration:none;">
                <button class="button login__submit">
                    <span class="button__text">Logout</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </a>

        </div>
    </div>
<script>
// let formSubmitted = false;
//     function checkForm(){
//         // stop page from submitting
//         event.preventDefault();
//          if (formSubmitted) {
//         // If the form has already been submitted, prevent further submissions
//         return false;
//     }
//         var lat = document.getElementById("lat");
//         var long = document.getElementById("long");
//         if(lat=="" && long==""){
//             alert("please allow us to access location");
//             return false;
//         }
//         formSubmitted = true; // Set the flag to true to prevent further submissions
//         return true;

//     }

//     function getLocation() {
//         if (navigator.geolocation) {
//           navigator.geolocation.getCurrentPosition(showPosition);
//         } else {
//           x.innerHTML = "Geolocation is not supported by this browser.";
//         }
//       }

//       function showPosition(position) {
//         //var token = $("input[name='csrfmiddlewaretoken']").val();
//         //document.getElementById('getMe').style.display="none";
//  if (formSubmitted) {
//         // If the form has already been submitted, do nothing
//         return;
//     }
//     document.getElementById('lat').value = position.coords.latitude;
//         document.getElementById('long').value = position.coords.longitude;

//         const myForm=document.getElementById("myForm");
//         formSubmitted = true; // Set the flag to true after submission
//          myForm.submit();


//       }
    let formSubmitted = false;

    const checkForm = () => {
        if (formSubmitted) {
            // If the form has already been submitted, prevent further submissions
            return true;
        }

        var lat = document.getElementById("lat").value;
        var long = document.getElementById("long").value;

        if (lat === "" || long === "") {
            alert("Please allow us to access your location.");
            return false;
        }

        formSubmitted = true; // Set the flag to true to prevent further submissions
        return true;
    };

    const getLocation = () => {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, handleGeolocationError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    };

    const showPosition = (position) => {
        if (formSubmitted) {
            // If the form has already been submitted, do nothing
            return;
        }

        document.getElementById('lat').value = position.coords.latitude;
        document.getElementById('long').value = position.coords.longitude;

        const myForm = document.getElementById("myForm");


        const formData = new FormData(myForm);
        fetch(myForm.action, {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                console.log(response)
            } else {
                console.log("error")
            }
        });

        formSubmitted = true; // Set the flag to true after submission
    };

    const handleGeolocationError = (error) => {
        console.error("Geolocation error: " + error.message);
    };

</script>
<script>
{% if request.user.is_authenticated %}
// window.onload = function() {

// }
{% else %}
window.onload = function() {
    // similar behavior as an HTTP redirect
    //alert("Hello");
    window.location.replace("http://127.0.0.1:8000/accounts/google/login/");
}
{% endif %}

</script>


</body>

</html>                                            `